<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wallpepers</title>
</head>
<body>
{% for wallpaper in wallpapers %}
<a href="{{ wallpaper.get_absolute_url }}">{{ wallpaper }}</a>
{% endfor %}
</body>
</html>