<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wallpeper</title>
</head>
<body>
<a href="{% url 'market:list' %}"><- Return</a>

<h1>Id: {{ wallpaper.pk }}</h1>
<h1>Name: {{ wallpaper.name }}</h1>
<h2>Brand: {{ wallpaper.brand.name }}</h2>
<h3>Price: {{ wallpaper.price }}</h3>
<h3>Added: {{ wallpaper.create_at }}</h3>

<h3>Характеристики: </h3>
{% if tags %}
<ul>
    {% for tag in tags %}
    <li id="{{tag.name}}-{{tag.pk}}">{{tag.name}}</li>
    {% endfor %}
</ul>
{% else %}
<p>відсутні</p>
{% endif %}
<img src="{{ wallpaper.cover.url }}"/>
</body>
</html>